input,
select,
button {
  color: #191919;
  font-size: 1.2em;
  padding: 0.25em 0.6em;
  background-color: #dbedfc;
  border: 1px solid #004e8d;
  border-radius: 5px;
  outline: none;
}
button {
  padding: 0.25em 0.75em;
  background-color: #004e8d;
  border: 1px solid #004e8d;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
button:hover {
  background-color: #003562;
}
