/* Browser Default Styles */
body {
  font-family: Cairo, sans-serif;
  font-size: 17px;
  padding: 16px;
  margin: 0;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.2em 0.7em;
  border: 1px solid #004e8d;
  text-align: left;
  vertical-align: top;
}
/* Re-usable Styles */
.word-plus-score {
  display: block;
  margin-bottom: 9px;
  line-height: 1.1;
}
.word-alone {
  margin-right: 0.3em;
  line-height: 1.1;
}
.word-item .word {
  display: inline-block;
  background-color: #d5e3e8;
  padding: 0 5px 2px 5px;
  border-radius: 5px;
}
.word-item.pangram .word {
  border: 2px solid white;
  outline: 2px solid #ffb26f;
}
.word-item.pangram:first-child .word {
  margin-top: 0.5em;
}
.petals-table th {
  text-align: center;
}
.all-words {
  padding: 0.25em 0.7em;
  border: 1px solid #004e8d;
  border-radius: 5px;
}
/* Widget Styles */
#InputForm label {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 2px 0;
}
#InputForm .label-text {
  width: 200px;
}
#InputForm input {
  text-transform: uppercase;
}
#Output .petal,
#Output .petal-column-label {
  text-transform: uppercase;
}
